apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: express-app-rules
  labels:
    release: kube-prometheus-stack
spec:
  groups:
    - name: express-app.rules
      rules:

        # Request rate per second (RPS)
        - record: express:rps
          expr: sum(rate(express_http_request_duration_seconds_count[1m]))

        # Error rate
        - record: express:error_rate
          expr: sum(rate(express_http_request_duration_seconds_count{status=~"5.."}[5m]))

        # Latency P90
        - record: express:latency_p90
          expr: histogram_quantile(0.90, sum(rate(express_http_request_duration_seconds_bucket[5m])) by (le))

        # Latency P99
        - record: express:latency_p99
          expr: histogram_quantile(0.99, sum(rate(express_http_request_duration_seconds_bucket[5m])) by (le))
