apiVersion: v1
kind: Service
metadata:
  name: aiops-api
  labels:
    app: aiops-api
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
  selector:
    app: aiops-api
